<!DOCTYPE html>
<html>
<head>
<title>Login Form</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
<script>
var app = angular.module("loginApp", []);
app.controller('loginController', function($scope) {
    $scope.user = {username: "", password: ""};
    $scope.submitForm = function() {
        if ($scope.loginForm.$valid) {
            if ($scope.user.password.length >= 6) {
                alert("Password is valid.");
            } else {
                alert("Password is invalid. It should be at least 6 characters long.");
            }
        } else {
            alert("Form is invalid! Please fill in all required fields.");
        }
    };
});
</script>
</head>
<body ng-app="loginApp" ng-controller="loginController">
<h2>Login Form</h2>
<form name="loginForm" ng-submit="submitForm()">
<div>
    <label>Username:</label>
    <input type="text" name="username" ng-model="user.username" required>
    <span ng-show="loginForm.username.$touched && loginForm.username.$error.required">Username is required.</span>
</div>
<div>
    <label>Password: </label>
    <input type="password" name="password" ng-model="user.password" required>
    <span ng-show="loginForm.password.$touched && loginForm.password.$error.required">Password is required.</span>
</div>
<div>
    <button type="submit">Login</button>
</div> 
</form>
</body>
</html>
